<div class="wrapper">
    <!-- <app-nav></app-nav> -->
    <!-- <div app-nav></div> -->
    <div class="app-nav"></div>
    <app-header></app-header>
    <app-notification></app-notification>
    <app-search></app-search>
    <app-products></app-products>
</div>

<!--
    <app-header></app-header>           Normal use(As HTML tag)
    <div "app-header"></div>            As a html attribute

    To use it like a CSS Class

    In component{
        selector:'.app-nav'
    }
    <div class="app-header"></div> 
    We can only use as a class not as id
-->