<div class="card">
    <ng-content select=".title"></ng-content>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
    <ng-content select=".btn-more"></ng-content>
</div>


<!--
    ng content allows us to make the content of parent component appear in the child component

    If we use more than 1 ng content all the data is kept at the last ng content tag

    But if we want the data to appear at the specific locations using ng content tag

    in the ng content tag write class name incluing the dot

    <ng-content select=".title"></ng-content>
-->